---
import Layout from "../../layouts/Layout.astro";
import Data from "../../../public/data/data.json";
import Navbar2 from "../../components/Navbar2.astro";
import { Image } from "astro:assets";


export async function getStaticPaths() {
  const paths = Data.map(product => ({
    params: { slug: product.slug }
  }));

  return paths;
}

const { slug } = Astro.params;

const product = Data.find(item => item.slug === slug);

if (!product) {
  throw new Error(`Product not found for slug: ${slug}`);
}

const { name, description,gif, image, git, demo } = product;

---

<Layout title={name}>
  <Navbar2/>
  <main class="container mx-auto py-8">
    <div class="flex flex-col items-center lg:mx-40 sm:mx-20 md:flex-row"> 
        <!-- Image + Title-->
        
          <div class="flex-shrink-0 w-48 h-48">
              <img class="object-contain w-full h-full rounded-lg" src={image} alt={name} />
          </div>

        <!-- Text -->
        <div class=" mt-4 md:mt-0 md:ml-8">
          <h1 class="text-3xl font-bold mb-4 dark:text-white">{name}</h1>
            <p class="text-gray-700 dark:text-gray-400">{description}</p>
        </div>
    </div>
    <!-- GIF -->
    <div class="w-full mt-8">
        <img class="w-full md:w-1/2 h-auto object-cover rounded-lg mx-auto" src={gif} alt={name} />
    </div>
    <!-- Icons -->
    <div class="mt-8 flex justify-center space-x-4">
        <a href={demo} target="_blank">
            <img src="/copiar-link.svg" alt="Website" class="w-8 h-8">
        </a>
        <a href={git} target="_blank">
            <img src="/github.svg" alt="GitHub" class="w-8 h-8">
        </a>
    </div>
</main>
  
</Layout>




