---
import Layout from "../../layouts/Layout.astro";
import Data from "../../../public/data/data.json";
import Navbar2 from "../../components/Navbar2.astro";
import ProdCard2 from "../../components/ProdCard2.astro";



const title = "it";

const productos = Data;
const dataFiltrada = productos.filter((dato) => {
  return dato.cat === title;
});
---

<Layout title={title}>
        <Navbar2/>
    <main class="min-h-screen flex items-center justify-center 
    dark:bg-gray-900
    ">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 max-w-screen-lg">
            {dataFiltrada.map((dato) => (
                <ProdCard2
                    name={dato.name}
                    description={dato.description}
                    image={dato.image}
                    slug={dato.slug} 
                    gif={dato.gif}
                    
                />
            ))}
        </div>
    </main>
</Layout>
